In [1]:
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path
import requests
from io import BytesIO
from zipfile import ZipFile, BadZipFile

import numpy as np
import pandas as pd
import pandas_datareader.data as web
from sklearn.datasets import fetch_openml

pd.set_option('display.expand_frame_repr', False)

DATA_STORE = Path('assets.h5')

In [4]:
df = (pd.read_csv('WIKI_PRICES.csv',
                 parse_dates=['date'],
                 index_col=['date', 'ticker'],
                 infer_datetime_format=True)
     .sort_index())

In [11]:
df.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15389314 entries, (Timestamp('1962-01-02 00:00:00'), 'ARNC') to (Timestamp('2018-03-27 00:00:00'), 'ZUMZ')
Data columns (total 12 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   open         15388776 non-null  float64
 1   high         15389259 non-null  float64
 2   low          15389259 non-null  float64
 3   close        15389313 non-null  float64
 4   volume       15389314 non-null  float64
 5   ex-dividend  15389314 non-null  float64
 6   split_ratio  15389313 non-null  float64
 7   adj_open     15388776 non-null  float64
 8   adj_high     15389259 non-null  float64
 9   adj_low      15389259 non-null  float64
 10  adj_close    15389313 non-null  float64
 11  adj_volume   15389314 non-null  float64
dtypes: float64(12)
memory usage: 1.4+ GB

In [13]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('quandl/wiki/prices', df)

In [15]:
df = pd.read_csv('wiki_stocks.csv')
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199 entries, 0 to 3198
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    3199 non-null   object
 1   name    3199 non-null   object
dtypes: object(2)
memory usage: 50.1+ KB
None

In [16]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('quandl/wiki/stocks', df)

In [17]:
df = web.DataReader(name='SP500', data_source='fred', start=2009).squeeze().to_frame('close')
print(df.info())
with pd.HDFStore(DATA_STORE) as store:
    store.put('sp500/fred', df)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2610 entries, 2014-01-13 to 2024-01-12
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   close   2518 non-null   float64
dtypes: float64(1)
memory usage: 40.8 KB
None

In [18]:
sp500_stooq = (pd.read_csv('^spx_d.csv', index_col=0,
                     parse_dates=True).loc['1950':'2019'].rename(columns=str.lower))
print(sp500_stooq.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17700 entries, 1950-01-03 to 2019-12-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    17700 non-null  float64
 1   high    17700 non-null  float64
 2   low     17700 non-null  float64
 3   close   17700 non-null  float64
 4   volume  17700 non-null  float64
dtypes: float64(5)
memory usage: 829.7 KB
None

In [19]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('sp500/stooq', sp500_stooq)

In [20]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
df = pd.read_html(url, header=0)[0]

In [21]:
df.head()

  Symbol     Security             GICS Sector               GICS Sub-Industry    Headquarters Location  Date added      CIK      Founded
0    MMM           3M             Industrials        Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04    66740         1902
1    AOS  A. O. Smith             Industrials               Building Products     Milwaukee, Wisconsin  2017-07-26    91142         1916
2    ABT       Abbott             Health Care           Health Care Equipment  North Chicago, Illinois  1957-03-04     1800         1888
3   ABBV       AbbVie             Health Care                   Biotechnology  North Chicago, Illinois  2012-12-31  1551152  2013 (1888)
4    ACN    Accenture  Information Technology  IT Consulting & Other Services          Dublin, Ireland  2011-07-06  1467373         1989

In [24]:
df.columns = ['ticker', 'name', 'gics_sector', 'gics_sub_industry',
              'location', 'first_added', 'cik', 'founded']
df = df.set_index('ticker')

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, MMM to ZTS
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               503 non-null    object
 1   gics_sector        503 non-null    object
 2   gics_sub_industry  503 non-null    object
 3   location           503 non-null    object
 4   first_added        503 non-null    object
 5   cik                503 non-null    int64
 6   founded            503 non-null    object
dtypes: int64(1), object(6)
memory usage: 31.4+ KB
None

In [26]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('sp500/stocks', df)

In [8]:
exchanges = ['NASDAQ', 'AMEX', 'NYSE']
url = 'nasdaq_screener_{}.csv'
df = pd.concat([pd.read_csv(url.format(ex)) for ex in exchanges]).dropna(how='all', axis=1)
df = df.rename(columns=str.lower).set_index('symbol')
df = df[~df.index.duplicated()]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7270 entries, AACG to ZWS
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        7270 non-null   object
 1   last sale   7270 non-null   object
 2   net change  7270 non-null   float64
 3   % change    7269 non-null   object
 4   market cap  6845 non-null   float64
 5   country     6961 non-null   object
 6   ipo year    4148 non-null   float64
 7   volume      7270 non-null   int64
 8   sector      6526 non-null   object
 9   industry    6526 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 882.8+ KB
None

In [9]:
df.head()

                                                    name last sale  net change  % change  market cap        country  ipo year  volume       sector                                    industry
symbol
AACG    ATA Creativity Global American Depositary Shares     $1.06      0.0400    3.922%  33519500.0          China    2008.0    3883  Real Estate                     Other Consumer Services
AACI             Armada Acquisition Corp. I Common Stock    $10.90      0.0000     0.00%         0.0  United States    2021.0     144      Finance                                Blank Checks
AACIW                 Armada Acquisition Corp. I Warrant   $0.0181     -0.0059  -24.583%         0.0  United States    2021.0   12035      Finance                                Blank Checks
AADI                   Aadi Bioscience Inc. Common Stock     $1.72      0.0100    0.585%  42184479.0  United States       NaN  260322  Health Care  Biotechnology: Pharmaceutical Preparations
AAGR      African Agriculture Holdings Inc. Common Stock   $0.9516      0.0920   10.703%   8984265.0  United States    2021.0  177920      Finance                  Finance: Consumer Services

In [23]:
df.rename(columns={'market cap': 'marketcap'}, inplace=True)
#mcap = df[['marketcap']].dropna()
#mcap.marketcap.head()
#mcap.marketcap = pd.to_numeric(mcap.marketcap)
#mcap.marketcap.head()
#mcap['suffix'] = mcap.marketcap.str[-1]
#mcap.suffix.value_counts()
df.marketcap.describe(percentiles=np.arange(.1, 1, .1).round(1)).apply(lambda x: f'{int(x):,d}')

count                6,845
mean         9,702,395,303
std         73,300,275,560
min                      0
10%                      0
20%              9,345,089
30%             46,079,110
40%            152,799,907
50%            372,029,966
60%            824,029,496
70%          1,788,866,023
80%          4,218,002,798
90%         13,322,532,591
max      2,891,567,651,840
Name: marketcap, dtype: object

In [24]:
df = pd.read_csv('us_equities_meta_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6834 entries, 0 to 6833
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     6834 non-null   object
 1   name       6834 non-null   object
 2   lastsale   6718 non-null   float64
 3   marketcap  5766 non-null   float64
 4   ipoyear    3038 non-null   float64
 5   sector     5288 non-null   object
 6   industry   5288 non-null   object
dtypes: float64(3), object(4)
memory usage: 373.9+ KB

In [25]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('us_equities/stocks', df.set_index('ticker'))

In [6]:
#from sklearn.datasets import fetch_openml
#mnist = fetch_openml('mnist_784', version=1, parser='auto')

In [8]:
from scipy.io.arff import loadarff
import pandas as pd

In [9]:
data = loadarff('phpnBqZGZ.arff')
fashion_mnist = pd.DataFrame(data[0])

In [12]:
label_dict = {0: 'T-shirt/top',
              1: 'Trouser',
              2: 'Pullover',
              3: 'Dress',
              4: 'Coat',
              5: 'Sandal',
              6: 'Shirt',
              7: 'Sneaker',
              8: 'Bag',
              9: 'Ankle boot'}
from pathlib import Path
fashion_path = Path('fashion_mnist')
if not fashion_path.exists():
    fashion_path.mkdir()
pd.Series(label_dict).to_csv(fashion_path / 'label_dict.csv', index=False, header=None)

In [13]:
fashion_mnist.data.head()

AttributeError: 'DataFrame' object has no attribute 'data'

In [14]:
fashion_mnist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Columns: 785 entries, pixel1 to class
dtypes: float64(784), object(1)
memory usage: 419.2+ MB

In [15]:
fashion_mnist.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'9'
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,114.0,130.0,76.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,96.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'3'
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'

In [16]:
fashion_mnist = fetch_openml(name='Fashion-MNIST', parser='liac-arff')

In [17]:
print(fashion_mnist.DESCR)

**Author**: Han Xiao, Kashif Rasul, Roland Vollgraf
**Source**: [Zalando Research](https://github.com/zalandoresearch/fashion-mnist)
**Please cite**: Han Xiao and Kashif Rasul and Roland Vollgraf, Fashion-MNIST: a Novel Image Dataset for Benchmarking Machine Learning Algorithms, arXiv, cs.LG/1708.07747

Fashion-MNIST is a dataset of Zalando's article images, consisting of a training set of 60,000 examples and a test set of 10,000 examples. Each example is a 28x28 grayscale image, associated with a label from 10 classes. Fashion-MNIST is intended to serve as a direct drop-in replacement for the original MNIST dataset for benchmarking machine learning algorithms. It shares the same image size and structure of training and testing splits.

Raw data available at: https://github.com/zalandoresearch/fashion-mnist

### Target classes
Each training and test example is assigned to one of the following labels:
Label  Description
0  T-shirt/top
1  Trouser
2  Pullover
3  Dress
4  Coat
5  Sandal
6  Shirt
7  Sneaker
8  Bag
9  Ankle boot

Downloaded from openml.org.

In [19]:
import numpy as np
np.save(fashion_path / 'data', fashion_mnist.data.astype(np.uint8))
np.save(fashion_path / 'labels', fashion_mnist.target.astype(np.uint8))